<h2>Menu</h2>

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-university fa-lg main-list-item-icon"></span>
      <a href="{{ 'resume' | prepend: site.baseurl }}">Resumé</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-globe fa-lg main-list-item-icon"></span>
    <a href="{{ 'travelmap' | prepend: site.baseurl }}">Travel Map</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-camera-retro fa-lg main-list-item-icon"></span>
    <a href="{{ 'gallery' | prepend: site.baseurl }}">Gallery</a>
  </li>


<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-envelope-o fa-lg main-list-item-icon"></span>
    <a href="mailto:dinis.ferreira@outlook.com">Mail</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/dinis6">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin-square fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/dinismferreira/">Linkedin</a>
  </li>
</ul>
